@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
  --primary-color: #8A2BE2; /* BlueViolet */
  --secondary-color: #00BFFF; /* DeepSkyBlue */
  --accent-color: #FFD700; /* Gold */
  --background-color: #121212; /* Nearly Black */
  --text-color: #E0E0E0; /* Light Gray */
  --card-background: #1E1E1E; /* Dark Gray */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 262 83% 58%;